.story__thumbnail {
	border-radius: 0;
	border: 2px solid white;
	box-shadow: 3px 3px 3px #5f5f5f;
	width: 10vw;
	height: 10vh;
	object-fit: contain;
}

#story--caption {
	font-size: 6vh;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 20vh 0;
	text-align: center;
}

#story--img {
	position: absolute;
	top: 30px;
	left: 14vw;
	right: 0;
	width: 75vw;
	height: 50vh;
	object-fit: contain;
}

#story--arrow-left {
	position: absolute;
	top: 0;
	left: 0;
	right: 85vw;
	bottom: 0;
	text-align: center;
	margin: 25vh 0;
}

#story--arrow-right {
	position: absolute;
	top: 0;
	left: 85vw;
	right: 0;
	bottom: 0;
	text-align: center;
	margin: 25vh 0;
}

#pages--list {
	max-width: 85vw;
	max-height: 85vh;
}

#page-editor--caption {
	text-align: center;
	user-select: none;
	width: 40vh !important;
	height: 40vw !important;
	resize: none;
	border: 1px solid #888;
	border-radius: 5px;
	font: inherit;
	font-size: 20pt;
}